header h2 {
  margin: 1em 0;
}

header .brand {
  display: flex;
  align-items: center;
}

header .brand svg {
  height: 3em;
}

.mr-2 {
  margin-right: 1em;
}

.mb-2 {
  margin-bottom: 1em;
}

.mt-2 {
  margin-top: 1em;
}
